@media screen and (min-width: 375px){ 
  .contact-list {
  width: 320px;
  list-style-type: none;
  height: 230px;
  overflow: hidden;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
}


@media screen and (min-width: 768px){ 
  .contact-list {
  width: 400px;
  margin-left: 190px;
  list-style-type: none;
  height: 530px;
  overflow: hidden;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
}

@media screen and (min-width: 1158px){ 
  .contact-list {
  width: 640px;
  margin-left: 260px;
  list-style-type: none;
  height: 945px;
  overflow: hidden;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
}